a {
    display: flex;
    text-decoration: none;
    color: hotpink;
}
article span {
    background-color: #ffffff;
    width: 1.2rem;
    color: #000;
    border-radius: 50%;
    margin-left: 4px;
}
