.product {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: auto;
}
.product__title {
    margin: 1rem auto 0;

}
.product__secondline {
    margin: 0;
}
.product__btn {
    width: 120px;
    height: 50px;
    background: rgb(104, 236, 221);
    border: none;
    color: #ffffff;
    letter-spacing: 0.5px;
    margin: auto;
}
